[submodule "Pneumatic/vendor/spdlog"]
	path = Pneumatic/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pneumatic/vendor/imgui"]
	path = Pneumatic/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Pneumatic/vendor/GLFW"]
	path = Pneumatic/vendor/GLFW
	url = https://github.com/Margoovian/glfw.git
